auto-install-peers=true
side-effects-cache=false
ignore-scripts=false
enable-pre-post-scripts=true
shamefully-hoist=true
# node-linker=hoisted
# shared-workspace-lockfile=false
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*@pothos*
public-hoist-pattern[]=*types*
# public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@prisma/nextjs-monorepo-workaround-plugin
public-hoist-pattern[]=*node-gyp*
public-hoist-pattern[]=*@emotion*
public-hoist-pattern[]=!@svgr/webpack
public-hoist-pattern[]=!@sentry/node
public-hoist-pattern[]=!@sentry/next-js